h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

#cobertura {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
}

.leftCobertura {
    position: relative;
    display: block;
    float: left;
    height: 480px;
    background-color: #00a39b;
}

.rightCobertura {
    position: relative;
    display: block;
    height: 480px;
    float: right;
    background-color: #352c59;
}

.leftCobertura iframe, .rightCobertura iframe {
    width: 100%;
    padding: 0;
    border: none;
}

#cobertura .col-lg-6 {
    padding: 0px;
}

.bairro {
    color: #fff;
    height: 480px;
}

.bairro h3 {
    text-align: center;
    padding: 15px;
    margin-bottom: 0px;
}

.bairro .texto h4 {
    padding-bottom: 10px;
    text-align: left;
}

#cobertura .bairro, #cobertura .mapa {
    margin: 10px 0px;
}


.bairro .texto {
    display: block;
    position: relative;
    margin: auto;
}

#cobertura hr {
    margin-top: 0px;
    width: 50px;
    border-color: #fff;
}

.scrolloff {
    pointer-events: none;
}

#maracanau  {
    width: 80%;
    column-count: 3;
    -moz-column-count:3;
    -webkit-column-count:3;
    -o-column-count:3;
}

#maranguape {
    width: 200px;
}

#pacatuba {
    width: 207px;
}

#fortaleza {
    width: 210px;
}

.setaVerde {
    border-top-color: #00a39b;
}

.setaRoxo {
    border-top-color: #352c59;
}

.setaVerde, .setaRoxo {
    display: none;
}

@media all and (max-width: 991px) {
    #cobertura .bairro, #cobertura .mapa {
        margin: 0px;
    }

    #cobertura .mapa {
        margin-bottom: 20px;
    }

    .setaVerde, .setaRoxo {
        display: block;
    }

    .bairro {
        height: auto;
    }
}

@media all and (max-width: 700px) {
    #maracanau {
        width: 60%;
        column-count: 2;
        -moz-column-count:2;
        -webkit-column-count:2;
        -o-column-count:2;
    }
}

@media all and (max-width: 410px) {
    #maracanau {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        -o-column-count: 1;
        height: auto;
    }
}