/* TXT */

h1 {
    font-size: 60px;
    color: #00a39b;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    color: #00a39b;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    color: #282828;
    text-align: justify;
    padding: 20px 0 0 0;
}


/********************* @MEDIAS *********************/
