::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #999999;
    border-left: 1px solid #CCC;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #666666;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #C2C2C2;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.navbar-custom {
    background-color: #12416D;
    border-color: transparent;
}

.in{
    background-color: #12416D;
}
.affix-top {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    height: 67px;
}

.affix {
    background-color: #12416D;
    border-color: transparent;
    margin-bottom: 0;
    height: 67px;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    border-color: white;
    color: white;
    font-size: 20px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: transparent;
    color: #2D9B96;
    border: 1px solid #2D9B96;
}
.navbar-custom .nav li a {
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #2D9B96;
    outline: none;
}

button.navbar-toggle{
    padding: 5px 10px 5px 10px;
}

i.fa-user-o{
    color: #2D9B96;
    font-size: 20px;
}

.navbar-custom .nav li:last-child{
    border: 2px solid #2D9B96;
    border-radius: 25px;
    margin-top: 4px;
}

.navbar-custom .nav li:last-child a {
    padding: 8px 15px 8px 15px;
}

.navbar-custom .nav li.response{
    display: none;
    border: 2px solid #2D9B96;
    border-radius: 20px;
    margin-top: 4px;
}

.navbar-custom .nav li.response > a{
    padding: 8px 15px 8px 15px;
}

.navbar-custom .nav li.response > a > i{
    color: #ffffff;
}

.navbar-custom .nav li.response > a > i:hover{
    color: #2D9B96;
}

.navbar-right{
    margin-top: 7px;
}

/*toggle*/

.header {
    position: fixed;
    width: 100%;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #12416D;
    display: none;
}

.header li a {
    display: block;
    color: #ffffff;
    padding: 20px 20px;
    border-right: 1px solid #1a1a1a;
    text-decoration: none;
}

.header li.primeiro{
    border-top: 1px solid #BEBFC1;
}

.header li:last-child > a > i{
    display: none;
}

.header li a:hover {
    background-color: #103C63;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 25px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 7px;
}

.header .menu-icon .navicon:after {
    top: -7px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 485px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media all and (max-width: 1200px){
    .container{
        width: 1100px;
    }
}

@media all and (max-width: 1135px){
    .container{
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .navbar-brand>img {
        height: 30px;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        padding-left: 0;
    }
}

@media all and (max-width: 1076px){
    .navbar-custom .nav li:last-child{
        display: none;
    }

    .navbar-custom .nav li.response {
        display: block;
    }

    .navbar-custom .nav li.primeiro{
        display: none;
    }
}

@media all and (max-width: 890px){
    .navbar-custom .nav li a {
        letter-spacing: 0.2px;
    }
}

@media all and (max-width: 840px){
    .nav>li>a {
        padding: 10px 10px;
    }

    .navbar-custom .nav li.response {
        margin-top: 0;
    }
}

@media all and (max-width: 790px){
    .navbar-custom .nav li a {
        letter-spacing: 0.1px;
    }

    .nav> li > a {
        padding: 10px 8px;
    }
}

@media all and (max-width: 768px){
    .navbar-custom .nav li.primeiro{
        display: block;
    }

    .navbar-custom .nav li:last-child{
        display: block;
    }

    .navbar-custom .nav li.response {
        display: none;
    }

    .header ul{
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        height: 85px;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #103A62;
        padding: 10px 0;
        height: 85px;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}