::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #999999;
    border-left: 1px solid #CCC;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #666666;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #C2C2C2;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}


nav.navbar{
    border:none;
    background-color: transparent;
}

.navbar-custom {
    background-color: #12416D;
    border-color: transparent;
}
.navbar-custom .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #fec503;
}
.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}
.navbar-custom .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #fed136;
}
.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #fed136;
    outline: none;
}
.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #fed136;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #fec503;
}

i.fa-user-o{
    color: #2D9B96;
    font-size: 20px;
}

.navbar-custom .nav li:last-child{
    border: 2px solid #2D9B96;
    border-radius: 25px;
    margin-top: 4px;
}

.navbar-custom .nav li:last-child a {
    padding: 8px 15px 8px 15px;
}

.navbar-right{
    margin-top: 7px;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        height: 85px;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #12416D;
        padding: 10px 0;
        height: 85px;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
    }
}